#video {
    height: calc(100%);
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

#video video {
	width: 100%;
	height: calc(100% - 130px);
	/* height: 10px; */
	background:black;
}

#video h1 {
	font-weight: 200;
	vertical-align: top;
	margin-top: 40px;
	display:inline-block;
}

#video img {
	display:inline;
}